In [1]:
import pandas as pd

In [2]:
df=pd.read_json('cook.json')

In [6]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39774 entries, 0 to 39773
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           39774 non-null  int64
 1   cuisine      39774 non-null  object
 2   ingredients  39774 non-null  object
dtypes: int64(1), object(2)
memory usage: 932.3+ KB

In [8]:
df.describe()

                 id
count  39774.000000
mean   24849.536959
std    14360.035505
min        0.000000
25%    12398.250000
50%    24887.000000
75%    37328.500000
max    49717.000000

In [9]:
df.isnull().sum()

id             0
cuisine        0
ingredients    0
dtype: int64

In [14]:
df["cuisine"].unique()

array(['greek', 'southern_us', 'filipino', 'indian', 'jamaican',
       'spanish', 'italian', 'mexican', 'chinese', 'british', 'thai',
       'vietnamese', 'cajun_creole', 'brazilian', 'french', 'japanese',
       'irish', 'korean', 'moroccan', 'russian'], dtype=object)

In [19]:
df["ingredients"][0]

['romaine lettuce',
 'black olives',
 'grape tomatoes',
 'garlic',
 'pepper',
 'purple onion',
 'seasoning',
 'garbanzo beans',
 'feta cheese crumbles']

In [20]:
df['cuisine'] = df['cuisine'].map({'italian':1,
                       'mexican':2,
                       'southern_us':3,
                       'indian':4,
                       'chinese':5,
                       'french':6,
                       'cajun_creole':7,
                       'thai':8,
                       'japanese':9,
                       'greek':10,
                       'spanish':11,
                       'korean':12,
                       'vietnamese':13,
                       'moroccan':14,
                       'british':15,
                       'filipino':16,
                       'irish':17,
                       'jamaican':18,
                       'russian':19,
                       'brazilian':20
})

In [21]:
df['cuisine']

0        10
1         3
2        16
3         4
4         4
         ..
39769    17
39770     1
39771    17
39772     5
39773     2
Name: cuisine, Length: 39774, dtype: int64

In [23]:
X = df.iloc[:,-1]
y = df['cuisine']
X

0        [romaine lettuce, black olives, grape tomatoes...
1        [plain flour, ground pepper, salt, tomatoes, g...
2        [eggs, pepper, salt, mayonaise, cooking oil, g...
3                      [water, vegetable oil, wheat, salt]
4        [black pepper, shallots, cornflour, cayenne pe...
                               ...
39769    [light brown sugar, granulated sugar, butter, ...
39770    [KRAFT Zesty Italian Dressing, purple onion, b...
39771    [eggs, citrus fruit, raisins, sourdough starte...
39772    [boneless chicken skinless thigh, minced garli...
39773    [green chile, jalapeno chilies, onions, ground...
Name: ingredients, Length: 39774, dtype: object

In [24]:
y

0        10
1         3
2        16
3         4
4         4
         ..
39769    17
39770     1
39771    17
39772     5
39773     2
Name: cuisine, Length: 39774, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [28]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [29]:
X_train

                                             ingredients
3751   [celery stick, bouquet garni, garlic cloves, p...
17186  [sugar, cilantro sprigs, ground black pepper, ...
35361  [tomatoes, carrots, cold water, turkey, celery...
4099   [active dry yeast, white sugar, salt, olive oi...
37875  [swiss chard, garlic, kosher salt, pappardelle...
...                                                  ...
20757  [tomatoes, ground black pepper, cilantro, grou...
32103  [lime, light coconut milk, brown basmati rice,...
30403  [green bell pepper, broccoli florets, shrimp, ...
21243  [low sodium tomato paste, italian seasoning, t...
2732   [buttermilk, all-purpose flour, bacon, frozen ...

[27841 rows x 1 columns]

In [30]:
X_train['ingredients'] = X_train['ingredients'].apply(lambda x:  ' '.join(x))
X_test['ingredients'] = X_test['ingredients'].apply(lambda x:  ' '.join(x))

In [31]:
X_train

                                             ingredients
3751   celery stick bouquet garni garlic cloves pork ...
17186  sugar cilantro sprigs ground black pepper oliv...
35361  tomatoes carrots cold water turkey celery ribs...
4099   active dry yeast white sugar salt olive oil wa...
37875  swiss chard garlic kosher salt pappardelle bla...
...                                                  ...
20757  tomatoes ground black pepper cilantro ground c...
32103  lime light coconut milk brown basmati rice fis...
30403  green bell pepper broccoli florets shrimp toma...
21243  low sodium tomato paste italian seasoning toma...
2732   buttermilk all-purpose flour bacon frozen whol...

[27841 rows x 1 columns]

In [32]:
X_test

                                             ingredients
8834   green chile pepper boneless chicken breast chi...
34143  parsley sprigs radishes sea salt pozole chicke...
15808  honey garlic cloves strong white bread flour v...
3281   sweet potatoes pumpkin pie spice eggs whipped ...
10823  sake mirin sesame oil fresh ginger spring onio...
...                                                  ...
1059   diced onions corn kernels diced tomatoes groun...
37783  chicken broth chile pepper flour tortillas mon...
33408  shortening caramels buttermilk dark corn syrup...
27076                   sugar whiskey peaches water teas
25673  tomato sauce vegetable oil onions chicken legs...

[11933 rows x 1 columns]

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [35]:
cv = CountVectorizer()
X_train_bow = cv.fit_transform(X_train['ingredients']).toarray()
X_test_bow = cv.transform(X_test['ingredients']).toarray()

In [36]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

gnb.fit(X_train_bow,y_train)

y_pred = gnb.predict(X_test_bow)

from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.2565993463504567